In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Absenteeism_preprocessed.csv')

In [3]:
#pd.options.display.max_columns = None

In [4]:
data

,Reason1,Reason2,Reason3,Reason4,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,0,0,0,1,7,3,1,289,36,13,...,0,0,2,1,0,1,90,172,30,4
1,0,0,0,0,7,3,1,118,13,18,...,1,0,1,1,0,0,98,178,31,0
2,0,0,0,1,7,4,1,179,51,18,...,0,0,0,1,0,0,89,170,31,2
3,1,0,0,0,7,5,1,279,5,14,...,0,0,2,1,1,0,68,168,24,4
4,0,0,0,1,7,5,1,289,36,13,...,0,0,2,1,0,1,90,172,30,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,1,0,0,0,7,3,1,289,36,13,...,0,0,2,1,0,1,90,172,30,8
736,1,0,0,0,7,3,1,235,11,14,...,0,1,1,0,0,1,88,172,29,4
737,0,0,0,0,0,3,1,118,14,13,...,0,0,1,1,0,8,98,170,34,0
738,0,0,0,0,0,4,2,231,35,14,...,0,0,2,1,0,2,100,170,35,0
739,0,0,0,0,0,6,3,179,45,14,...,0,0,1,0,0,1,77,175,25,0

In [5]:
data['Absenteeism time in hours'].median()

3.0

In [6]:
targets = np.where(data['Absenteeism time in hours'] > 3, 1, 0)

In [7]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0])

In [8]:
targets = np.where(data['Absenteeism time in hours'] > data['Absenteeism time in hours'].median(), 1, 0)

In [9]:
data['Excessive absenteeism'] = targets

In [10]:
data

,Reason1,Reason2,Reason3,Reason4,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,...,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours,Excessive absenteeism
0,0,0,0,1,7,3,1,289,36,13,...,0,2,1,0,1,90,172,30,4,1
1,0,0,0,0,7,3,1,118,13,18,...,0,1,1,0,0,98,178,31,0,0
2,0,0,0,1,7,4,1,179,51,18,...,0,0,1,0,0,89,170,31,2,0
3,1,0,0,0,7,5,1,279,5,14,...,0,2,1,1,0,68,168,24,4,1
4,0,0,0,1,7,5,1,289,36,13,...,0,2,1,0,1,90,172,30,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,1,0,0,0,7,3,1,289,36,13,...,0,2,1,0,1,90,172,30,8,1
736,1,0,0,0,7,3,1,235,11,14,...,1,1,0,0,1,88,172,29,4,1
737,0,0,0,0,0,3,1,118,14,13,...,0,1,1,0,8,98,170,34,0,0
738,0,0,0,0,0,4,2,231,35,14,...,0,2,1,0,2,100,170,35,0,0
739,0,0,0,0,0,6,3,179,45,14,...,0,1,0,0,1,77,175,25,0,0

In [11]:
targets.sum() / targets.shape[0]

0.4581081081081081

In [12]:
data = data.drop(['Absenteeism time in hours'], axis = 1)

In [13]:
data

,Reason1,Reason2,Reason3,Reason4,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Excessive absenteeism
0,0,0,0,1,7,3,1,289,36,13,...,0,0,2,1,0,1,90,172,30,1
1,0,0,0,0,7,3,1,118,13,18,...,1,0,1,1,0,0,98,178,31,0
2,0,0,0,1,7,4,1,179,51,18,...,0,0,0,1,0,0,89,170,31,0
3,1,0,0,0,7,5,1,279,5,14,...,0,0,2,1,1,0,68,168,24,1
4,0,0,0,1,7,5,1,289,36,13,...,0,0,2,1,0,1,90,172,30,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,1,0,0,0,7,3,1,289,36,13,...,0,0,2,1,0,1,90,172,30,1
736,1,0,0,0,7,3,1,235,11,14,...,0,1,1,0,0,1,88,172,29,1
737,0,0,0,0,0,3,1,118,14,13,...,0,0,1,1,0,8,98,170,34,0
738,0,0,0,0,0,4,2,231,35,14,...,0,0,2,1,0,2,100,170,35,0
739,0,0,0,0,0,6,3,179,45,14,...,0,0,1,0,0,1,77,175,25,0

In [14]:
data.shape

(740, 23)

In [15]:
inputs = data.iloc[:, 0:22]

In [16]:
inputs

,Reason1,Reason2,Reason3,Reason4,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,...,Hit target,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index
0,0,0,0,1,7,3,1,289,36,13,...,97,0,0,2,1,0,1,90,172,30
1,0,0,0,0,7,3,1,118,13,18,...,97,1,0,1,1,0,0,98,178,31
2,0,0,0,1,7,4,1,179,51,18,...,97,0,0,0,1,0,0,89,170,31
3,1,0,0,0,7,5,1,279,5,14,...,97,0,0,2,1,1,0,68,168,24
4,0,0,0,1,7,5,1,289,36,13,...,97,0,0,2,1,0,1,90,172,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,1,0,0,0,7,3,1,289,36,13,...,93,0,0,2,1,0,1,90,172,30
736,1,0,0,0,7,3,1,235,11,14,...,93,0,1,1,0,0,1,88,172,29
737,0,0,0,0,0,3,1,118,14,13,...,95,0,0,1,1,0,8,98,170,34
738,0,0,0,0,0,4,2,231,35,14,...,95,0,0,2,1,0,2,100,170,35
739,0,0,0,0,0,6,3,179,45,14,...,95,0,0,1,0,0,1,77,175,25

In [17]:
# from sklearn.preprocessing import StandardScaler
# scaler = StandardScaler()

In [18]:
from sklearn.preprocessing import StandardScaler
from sklearn.base import BaseEstimator, TransformerMixin

In [19]:
class CustomScaler(BaseEstimator, TransformerMixin):

    def __init__(self,columns,copy=True,with_mean=True,with_std=True):
        self.scaler = StandardScaler(copy,with_mean,with_std)
        self.columns = columns
        self.mean_ = None
        self.var_ = None
        
    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self
    
    def transform(self, X, y=None, copy=None):
    
        init_col_order = X.columns
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
        X_not_scaled = X.loc[:,~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [20]:
inputs.columns.values

array(['Reason1', 'Reason2', 'Reason3', 'Reason4', 'Month of absence',
       'Day of the week', 'Seasons', 'Transportation expense',
       'Distance from Residence to Work', 'Service time', 'Age',
       'Work load Average/day ', 'Hit target', 'Disciplinary failure',
       'Education', 'Son', 'Social drinker', 'Social smoker', 'Pet',
       'Weight', 'Height', 'Body mass index'], dtype=object)

In [21]:
col_scale = ['Month of absence',
       'Day of the week', 'Transportation expense',
       'Distance from Residence to Work', 'Service time', 'Age',
       'Work load Average/day ', 'Hit target',
       'Son', 'Pet',
       'Weight', 'Height', 'Body mass index']

In [22]:
scaler = CustomScaler(col_scale)

In [23]:
scaler.fit(inputs)

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/base.py:197: FutureWarning: From version 0.24, get_params will raise an AttributeError if a parameter cannot be retrieved as an instance attribute. Previously it would return None.
  FutureWarning)

CustomScaler(columns=['Month of absence', 'Day of the week',
                      'Transportation expense',
                      'Distance from Residence to Work', 'Service time', 'Age',
                      'Work load Average/day ', 'Hit target', 'Son', 'Pet',
                      'Weight', 'Height', 'Body mass index'],
             copy=None, with_mean=None, with_std=None)

In [24]:
scaled_inputs = scaler.transform(inputs)

In [25]:
scaled_inputs

,Reason1,Reason2,Reason3,Reason4,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,...,Hit target,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index
0,0,0,0,1,0.196763,-0.643947,1,1.011408,0.429556,0.101770,...,0.638686,0,0,0.893723,1,0,0.192850,0.851673,-0.019046,0.775932
1,0,0,0,0,0.196763,-0.643947,1,-1.544379,-1.121694,1.242825,...,0.638686,1,0,-0.017234,1,0,-0.566240,1.473056,0.975828,1.009438
2,0,0,0,1,0.196763,0.059924,1,-0.632665,1.441240,1.242825,...,0.638686,0,0,-0.928191,1,0,-0.566240,0.774000,-0.350671,1.009438
3,1,0,0,0,0.196763,0.763796,1,0.861947,-1.661258,0.329981,...,0.638686,0,0,0.893723,1,1,-0.566240,-0.857131,-0.682295,-0.625100
4,0,0,0,1,0.196763,0.763796,1,1.011408,0.429556,0.101770,...,0.638686,0,0,0.893723,1,0,0.192850,0.851673,-0.019046,0.775932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,1,0,0,0,0.196763,-0.643947,1,1.011408,0.429556,0.101770,...,-0.420423,0,0,0.893723,1,0,0.192850,0.851673,-0.019046,0.775932
736,1,0,0,0,0.196763,-0.643947,1,0.204318,-1.256585,0.329981,...,-0.420423,0,1,-0.017234,0,0,0.192850,0.696327,-0.019046,0.542427
737,0,0,0,0,-1.841698,-0.643947,1,-1.544379,-1.054248,0.101770,...,0.109131,0,0,-0.017234,1,0,5.506478,1.473056,-0.350671,1.709954
738,0,0,0,0,-1.841698,0.059924,2,0.144533,0.362110,0.329981,...,0.109131,0,0,0.893723,1,0,0.951940,1.628402,-0.350671,1.943459
739,0,0,0,0,-1.841698,1.467667,3,-0.632665,1.036566,0.329981,...,0.109131,0,0,-0.017234,0,0,0.192850,-0.158075,0.478391,-0.391595

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
train_test_split(scaled_inputs, targets)

[     Reason1  Reason2  Reason3  Reason4  Month of absence  Day of the week  \
 129        0        0        1        0         -1.550489        -0.643947
 185        0        0        0        1         -0.676863         0.059924
 98         0        0        0        1          1.652806        -0.643947
 87         1        0        0        0          1.361597        -1.347819
 481        0        0        0        1          0.487971        -1.347819
 ..       ...      ...      ...      ...               ...              ...
 492        0        0        0        1          0.487971        -0.643947
 308        0        0        0        1          1.070388         0.763796
 146        0        0        0        1         -1.259281        -1.347819
 272        0        0        1        0          0.779180         0.059924
 497        0        0        0        1          0.779180        -0.643947

      Seasons  Transportation expense  Distance from Residence to Work  \
 129        2               -0.632665                        -0.244901
 185        3                0.054856                        -0.244901
 98         4                0.398617                        -0.312346
 87         4                1.041301                         0.092328
 481        1               -0.632665                        -0.514683
 ..       ...                     ...                              ...
 492        1               -1.544379                        -1.324030
 308        4               -0.632665                        -0.244901
 146        2                0.054856                        -0.244901
 272        1                1.011408                         0.429556
 497        1               -1.544379                        -1.324030

      Service time  ...  Hit target  Disciplinary failure  Education       Son  \
 129     -0.811074  ...    0.109131                     0          1 -0.928191
 185     -0.811074  ...    0.373908                     0          0 -0.017234
 98       0.329981  ...    0.638686                     0          0  0.893723
 87      -0.126441  ...   -0.420423                     0          0 -0.017234
 481      1.014614  ...   -0.420423                     0          1  0.893723
 ..            ...  ...         ...                   ...        ...       ...
 492     -0.582863  ...   -0.420423                     0          0 -0.928191
 308     -0.811074  ...   -1.744310                     0          1 -0.928191
 146     -0.811074  ...    1.168240                     0          0 -0.017234
 272      0.101770  ...   -3.597751                     0          0  0.893723
 497     -0.582863  ...   -2.009087                     0          0 -0.928191

      Social drinker  Social smoker      Pet    Weight    Height  \
 129               0              0 -0.56624 -1.789206 -0.184858
 185               0              0  0.95194 -0.779458 -0.516483
 98                0              0  0.19285  0.540981 -1.179732
 87                1              0  0.19285 -0.468766 -0.184858
 481               0              1 -0.56624 -1.245495 -0.350671
 ..              ...            ...      ...       ...       ...
 492               0              0 -0.56624  0.307963 -0.019046
 308               0              0 -0.56624 -1.789206 -0.184858
 146               0              0  0.95194 -0.779458 -0.516483
 272               1              0  0.19285  0.851673 -0.019046
 497               0              0 -0.56624  0.307963 -0.019046

      Body mass index
 129        -1.792627
 185        -0.625100
 98          1.242943
 87         -0.391595
 481        -1.092111
 ..               ...
 492         0.308921
 308        -1.792627
 146        -0.625100
 272         0.775932
 497         0.308921

 [555 rows x 22 columns],
      Reason1  Reason2  Reason3  Reason4  Month of absence  Day of the week  \
 289        0        0        0        1          1.070388        -1.347819
 668        0        1        0        0         -0.676863        -0.643947
 100        0        0        0        1          1.652806         0.059924
 389        0        0        0        1         -1.259281         1.467667
 49         1        0        0        0          0.779180        -1.347819
 ..       ...      ...      ...      ...               ...              ...
 54         0        0        0        0          0.779180        -0.643947
 123        0        0        0        1         -1.550489        -0.643947
 320        0        0        0        1          1.361597         1.467667
 529        1        0        0        0          1.070388        -1.347819
 558        1        0        0        0          1.652806         1.467667

      Seasons  Transportation expense  Distance from Residence to Work  \
 289        4                1.011408                         0.429556
 668        3                0.204318                        -0.919357
 100        4               -1.544379                        -1.121694
 389        2               -0.632665                         1.441240
 49         4                1.041301                         0.092328
 ..       ...                     ...                              ...
 54         4                1.011408                         0.429556
 123        2               -1.544379                        -1.324030
 320        4                0.577971                         1.373794
 529        4                0.398617                        -0.312346
 558        4               -0.632665                        -0.244901

      Service time  ...  Hit target  Disciplinary failure  Education       Son  \
 289      0.101770  ...   -1.744310                     0          0  0.893723
 668     -1.039285  ...   -0.949978                     0          1 -0.928191
 100      1.242825  ...    0.638686                     0          0 -0.017234
 389      1.242825  ...    0.373908                     0          0 -0.928191
 49      -0.126441  ...   -0.685201                     0          0 -0.017234
 ..            ...  ...         ...                   ...        ...       ...
 54       0.101770  ...   -0.685201                     1          0  0.893723
 123     -0.582863  ...    0.109131                     0          0 -0.928191
 320     -0.354652  ...    0.638686                     0          0  2.715637
 529      0.329981  ...   -0.949978                     0          0  0.893723
 558     -0.811074  ...    0.903463                     0          1 -0.928191

      Social drinker  Social smoker      Pet    Weight    Height  \
 289               1              0  0.19285  0.851673 -0.019046
 668               0              0 -0.56624 -0.313421  0.975828
 100               1              0 -0.56624  1.473056  0.975828
 389               1              0 -0.56624  0.774000 -0.350671
 49                1              0  0.19285 -0.468766 -0.184858
 ..              ...            ...      ...       ...       ...
 54                1              0  0.19285  0.851673 -0.019046
 123               0              0 -0.56624  0.307963 -0.019046
 320               1              0 -0.56624 -1.090150 -0.682295
 529               0              0  0.19285  0.540981 -1.179732
 558               0              0 -0.56624 -1.789206 -0.184858

      Body mass index
 289         0.775932
 668        -0.391595
 100         1.009438
 389         1.009438
 49         -0.391595
 ..               ...
 54          0.775932
 123         0.308921
 320        -0.858606
 529         1.242943
 558        -1.792627

 [185 rows x 22 columns],
 array([1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0,
        1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0,
        1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0,
        1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0,
        1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0,
        1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1,
        0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1,
        1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1,
        1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,
        1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1,
        1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
        1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1,
        0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0,
        0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1,
        1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
        0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0,
        0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0,
        0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0,
        0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0,
        0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0,
        0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0,
        0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1,
        1, 1, 0, 1, 0]),
 array([1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1,
        1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1,
        1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0,
        1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
        1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1,
        1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0,
        1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
        1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1,
        1, 1, 1, 1, 0, 0, 0, 1, 0])]

In [28]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets)

In [29]:
x_train

,Reason1,Reason2,Reason3,Reason4,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,...,Hit target,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index
641,0,0,0,1,-0.968072,0.059924,2,-0.632665,1.441240,1.242825,...,1.168240,0,0,-0.928191,1,0,-0.566240,0.774000,-0.350671,1.009438
246,0,0,0,1,0.196763,-0.643947,1,2.087529,1.508686,-2.180340,...,0.903463,0,0,-0.017234,1,0,2.470119,0.074944,-0.019046,0.075416
215,0,0,0,0,-0.385655,0.059924,3,2.341614,1.306349,-0.354652,...,-0.685201,1,0,0.893723,0,1,2.470119,-1.090150,0.312579,-1.325617
411,0,0,0,1,-0.968072,-0.643947,3,0.368725,-0.312346,0.786403,...,0.903463,0,0,-0.928191,1,0,-0.566240,-0.934804,-0.350671,-0.858606
303,0,0,0,0,1.070388,1.467667,4,0.204318,-0.649574,0.101770,...,-1.744310,1,0,-0.017234,1,0,-0.566240,2.094439,-0.848108,2.643976
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,0,0,0,1,-0.385655,0.059924,3,0.054856,-0.244901,-0.811074,...,1.168240,0,0,-0.017234,0,0,0.951940,-0.779458,-0.516483,-0.625100
639,0,0,0,1,-0.968072,0.059924,2,1.011408,0.429556,0.101770,...,1.168240,0,0,0.893723,1,0,0.192850,0.851673,-0.019046,0.775932
365,0,0,0,1,-1.550489,-1.347819,2,0.204318,-0.649574,0.101770,...,1.433018,0,0,-0.017234,1,0,-0.566240,2.094439,-0.848108,2.643976
65,0,0,0,1,1.070388,0.763796,4,-0.632665,-0.244901,-0.811074,...,-0.420423,0,1,-0.928191,0,0,-0.566240,-1.789206,-0.184858,-1.792627
714,0,0,0,0,-0.094446,-1.347819,3,0.204318,-0.042564,-0.126441,...,0.373908,1,0,-0.017234,0,1,3.229209,0.696327,-1.511357,1.476449

In [30]:
print(x_train.shape, y_train.shape)

(555, 22) (555,)

In [31]:
print(x_test.shape, y_test.shape)

(185, 22) (185,)

In [32]:
 x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, train_size = 0.8, random_state = 20)

In [33]:
print(x_train.shape, y_train.shape)

(592, 22) (592,)

In [34]:
print(x_test.shape, y_test.shape)

(148, 22) (148,)

In [35]:
x_test.shape[0] / (x_train.shape[0] + x_test.shape[0])

0.2

In [36]:
from sklearn.linear_model import LogisticRegression

In [37]:
from sklearn import metrics

In [38]:
reg = LogisticRegression()

In [39]:
reg.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [40]:
reg.score(x_train, y_train)

0.7635135135135135

In [41]:
model_outputs = reg.predict(x_train)

In [42]:
model_outputs

array([1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1])

In [43]:
y_train

array([1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0])

In [44]:
model_outputs == y_train

array([ True,  True, False,  True, False,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True, False,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True, False,  True, False,  True, False, False,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True, False,  True,
       False,  True, False,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True, False,  True,  True,  True,  True,
       False,  True,  True, False,  True, False, False, False,  True,
       False, False,  True,  True,  True, False,  True,  True, False,
        True,  True,  True, False,  True,  True,  True,  True, False,
       False,  True,  True, False,  True, False,  True,  True, False,
        True, False,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
       False,  True, False, False, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True, False,  True, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False, False,  True,  True,
        True,  True,  True, False, False,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True, False,
        True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True, False, False,  True,  True, False,  True,  True,
       False,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True, False, False, False,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True, False, False,  True,  True,  True,
        True,  True,  True,  True, False, False,  True,  True,  True,
       False,  True, False,  True, False,  True,  True, False,  True,
       False,  True,  True,  True, False, False,  True, False,  True,
        True, False,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True, False,  True,  True,  True,  True,  True,
        True,  True, False, False,  True,  True,  True, False,  True,
        True,  True, False,  True, False,  True,  True,  True,  True,
        True,  True, False,  True,  True, False,  True, False,  True,
        True,  True,  True,  True, False, False,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True, False, False, False,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False,  True,  True, False,  True,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True, False,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True, False,  True, False,  True,  True,
        True,  True,  True, False,  True,  True, False,  True,  True,
        True, False, False,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False, False, False, False,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True, False,  True,  True, False])

In [45]:
np.sum(model_outputs == y_train)

452

In [46]:
y_train.shape

(592,)

In [47]:
np.sum(model_outputs == y_train)/ y_train.shape

array([0.76351351])

In [48]:
reg.intercept_

array([-0.05207485])

In [49]:
reg.coef_

array([[ 1.63056891,  0.28928306,  1.77054078, -0.26809706,  0.27082349,
        -0.1739052 , -0.29241518,  0.51926547, -0.04821787, -0.3358949 ,
         0.04639547,  0.04234174,  0.01939165, -2.75373606,  0.01777147,
         0.42152756,  0.62546083,  0.43803583, -0.35108463,  0.46593417,
        -0.12287384, -0.18029314]])

In [50]:
features = inputs.columns.values

In [51]:
features

array(['Reason1', 'Reason2', 'Reason3', 'Reason4', 'Month of absence',
       'Day of the week', 'Seasons', 'Transportation expense',
       'Distance from Residence to Work', 'Service time', 'Age',
       'Work load Average/day ', 'Hit target', 'Disciplinary failure',
       'Education', 'Son', 'Social drinker', 'Social smoker', 'Pet',
       'Weight', 'Height', 'Body mass index'], dtype=object)

In [52]:
newfeatures = ['Intercept','Reason1', 'Reason2', 'Reason3', 'Reason4', 'Month of absence',
       'Day of the week', 'Seasons', 'Transportation expense',
       'Distance from Residence to Work', 'Service time', 'Age',
       'Work load Average/day ', 'Hit target', 'Disciplinary failure',
       'Education', 'Son', 'Social drinker', 'Social smoker', 'Pet',
       'Weight', 'Height', 'Body mass index']

In [53]:
table = pd.DataFrame(columns = ['Feature Name'], data = newfeatures)

In [54]:
table

                       Feature Name
0                         Intercept
1                           Reason1
2                           Reason2
3                           Reason3
4                           Reason4
5                  Month of absence
6                   Day of the week
7                           Seasons
8            Transportation expense
9   Distance from Residence to Work
10                     Service time
11                              Age
12           Work load Average/day
13                       Hit target
14             Disciplinary failure
15                        Education
16                              Son
17                   Social drinker
18                    Social smoker
19                              Pet
20                           Weight
21                           Height
22                  Body mass index

In [55]:
coeff = reg.coef_

In [56]:
coeff

array([[ 1.63056891,  0.28928306,  1.77054078, -0.26809706,  0.27082349,
        -0.1739052 , -0.29241518,  0.51926547, -0.04821787, -0.3358949 ,
         0.04639547,  0.04234174,  0.01939165, -2.75373606,  0.01777147,
         0.42152756,  0.62546083,  0.43803583, -0.35108463,  0.46593417,
        -0.12287384, -0.18029314]])

In [65]:
newcoef = [ -0.05207485,1.63056891,  0.28928306,  1.77054078, -0.26809706,  0.27082349,
        -0.1739052 , -0.29241518,  0.51926547, -0.04821787, -0.3358949 ,
         0.04639547,  0.04234174,  0.01939165, -2.75373606,  0.01777147,
         0.42152756,  0.62546083,  0.43803583, -0.35108463,  0.46593417,
        -0.12287384, -0.18029314 ] 



#change the values after adding custom !!!

In [58]:
newcoef

[-0.05207485,
 1.63056891,
 0.28928306,
 1.77054078,
 -0.26809706,
 0.27082349,
 -0.1739052,
 -0.29241518,
 0.51926547,
 -0.04821787,
 -0.3358949,
 0.04639547,
 0.04234174,
 0.01939165,
 -2.75373606,
 0.01777147,
 0.42152756,
 0.62546083,
 0.43803583,
 -0.35108463,
 0.46593417,
 -0.12287384,
 -0.18029314]

In [59]:
table['Coefficient'] = newcoef

In [60]:
table

                       Feature Name  Coefficient
0                         Intercept    -0.052075
1                           Reason1     1.630569
2                           Reason2     0.289283
3                           Reason3     1.770541
4                           Reason4    -0.268097
5                  Month of absence     0.270823
6                   Day of the week    -0.173905
7                           Seasons    -0.292415
8            Transportation expense     0.519265
9   Distance from Residence to Work    -0.048218
10                     Service time    -0.335895
11                              Age     0.046395
12           Work load Average/day      0.042342
13                       Hit target     0.019392
14             Disciplinary failure    -2.753736
15                        Education     0.017771
16                              Son     0.421528
17                   Social drinker     0.625461
18                    Social smoker     0.438036
19                              Pet    -0.351085
20                           Weight     0.465934
21                           Height    -0.122874
22                  Body mass index    -0.180293

In [61]:
table['Odds ratio'] = np.exp(table.Coefficient)

In [62]:
table

                       Feature Name  Coefficient  Odds ratio
0                         Intercept    -0.052075    0.949258
1                           Reason1     1.630569    5.106779
2                           Reason2     0.289283    1.335470
3                           Reason3     1.770541    5.874029
4                           Reason4    -0.268097    0.764834
5                  Month of absence     0.270823    1.311044
6                   Day of the week    -0.173905    0.840377
7                           Seasons    -0.292415    0.746459
8            Transportation expense     0.519265    1.680793
9   Distance from Residence to Work    -0.048218    0.952926
10                     Service time    -0.335895    0.714698
11                              Age     0.046395    1.047489
12           Work load Average/day      0.042342    1.043251
13                       Hit target     0.019392    1.019581
14             Disciplinary failure    -2.753736    0.063689
15                        Education     0.017771    1.017930
16                              Son     0.421528    1.524288
17                   Social drinker     0.625461    1.869107
18                    Social smoker     0.438036    1.549660
19                              Pet    -0.351085    0.703924
20                           Weight     0.465934    1.593502
21                           Height    -0.122874    0.884375
22                  Body mass index    -0.180293    0.835025

In [63]:
table = table.sort_values('Odds ratio', ascending = False)

In [64]:
table

                       Feature Name  Coefficient  Odds ratio
3                           Reason3     1.770541    5.874029
1                           Reason1     1.630569    5.106779
17                   Social drinker     0.625461    1.869107
8            Transportation expense     0.519265    1.680793
20                           Weight     0.465934    1.593502
18                    Social smoker     0.438036    1.549660
16                              Son     0.421528    1.524288
2                           Reason2     0.289283    1.335470
5                  Month of absence     0.270823    1.311044
11                              Age     0.046395    1.047489
12           Work load Average/day      0.042342    1.043251
13                       Hit target     0.019392    1.019581
15                        Education     0.017771    1.017930
9   Distance from Residence to Work    -0.048218    0.952926
0                         Intercept    -0.052075    0.949258
21                           Height    -0.122874    0.884375
6                   Day of the week    -0.173905    0.840377
22                  Body mass index    -0.180293    0.835025
4                           Reason4    -0.268097    0.764834
7                           Seasons    -0.292415    0.746459
10                     Service time    -0.335895    0.714698
19                              Pet    -0.351085    0.703924
14             Disciplinary failure    -2.753736    0.063689